<div class="container mt-4">
  <h2>Mis Productos</h2>
  <ul class="list-group mb-4">
    @for (producto of productos; track productos) {
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong>Nombre:</strong> {{ producto.nombre }}<br>
            <strong>Descripción:</strong> {{ producto.descripcion }}<br>
            <strong>Precio:</strong> {{ producto.precio }} €<br>
            <strong>Cantidad:</strong> {{ producto.cantidad }}<br>
            <strong>Total:</strong> {{ (producto.precio ?? 0 ) * (producto.cantidad ?? 0)}} €<br>
            <strong>Categoría:</strong> {{ producto.categoria?.nombre }}<br>
            <strong>Imagen:</strong>
            <img [src]="producto.imagenUrl" alt="{{ producto.nombre }}" class="img-thumbnail" width="100"><br>

          </div>
          <div>
            <button class="btn btn-primary me-2" (click)="editProducto(producto.id!)">Modificar</button>
            <button class="btn btn-danger" (click)="confirmDelete(producto.id!)">Eliminar</button>
          </div>
        </div>
      </li>
    }
  </ul>
  <button class="btn btn-success" (click)="navigateToCreateProducto()">Añadir Producto</button>
</div>
