<footer class="bg-dark text-light pt-4 pb-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a  class="text-light" [routerLink]="'/'">Home</a></li>
          <li><a  class="text-light"[routerLink]="'/listaproductos'">Productos</a></li>
          <li><a class="text-light"[routerLink]="'/categoria'">Categorias</a></li>
          <li><a  class="text-light"[routerLink]="'/about-us'">About us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt"></i> 123 Main Street, Anytown, USA</li>
          <li><i class="bi bi-envelope"></i> contact2.com</li>
          <li><i class="bi bi-phone"></i> +1 (123) 456-7890</li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="showAlert()">Subscribe</button>
    </div>
    <div class="text-center mt-3">
      <p>&copy; 2024 Mi Aplicación. All Rights Reserved.</p>
    </div>
  </div>
</footer>
