.navbar {
  background-color: #343a40 !important;
  padding: 0.5rem 1rem;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
  margin-right: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #00bfff !important;
}

.btn-outline-danger {
  margin-left: auto;
}
