<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      MiSitio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Salir</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Servicio 1</a></li>
            <li><a class="dropdown-item" href="#">Servicio 2</a></li>
            <li><a class="dropdown-item" href="#">Servicio 3</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex me-3" (submit)="onSearch()">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchQuery" (input)="onSearchChange($event)">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
