
/* navbar.component.css */
.navbar-brand img {
  margin-right: 10px;
  max-height: 24px;
}

.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.nav-link:hover {
  color: #bbb;
}

.mat-form-field {
  background-color: #495057;
  color: #fff;
}

.mat-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.mat-icon:hover {
  color: #bbb;
}

